<div class="w-64 bg-gray-100 h-screen p-4 rounded-r-xl">
  <h1 class="text-lg font-bold underline mb-6">taskHub</h1>
  <nav>
    <ul>
      <li class="mb-4 flex items-center">
        <a
          routerLink="/home"
          routerLinkActive="active-link"
          class="transition-colors px-2"
        >
          <i class="fa fa-home pr-2"></i>
          Home
        </a>
      </li>
      <li class="mb-4 flex items-center">
        <a
          routerLink="/my-tasks"
          routerLinkActive="active-link"
          class="transition-colors px-2"
        >
          <i class="fa fa-check-circle pr-2"></i>

          My Tasks
        </a>
      </li>
      <li class="flex items-center">
        <a
          routerLink="/analytics"
          routerLinkActive="active-link"
          class="transition-colors px-2"
        >
          <i class="fa fa-chart-simple pr-2"></i>
          Analytics
        </a>
      </li>
    </ul>
  </nav>
</div>
